<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magnitude Calculation</title>
    <link rel="icon" href="{{ url_for('static', filename='allpp.ico') }}" type="image/x-icon">
</head>
<body style="text-align:center; padding-top:150px; font-family:Arial;">
    <h1>Welcome to Magnitude Analyzer</h1>
    <p>Press the button to continue</p>

    <a href="/main">
        <button style="padding:10px 25px; font-size:18px;">Go</button>
    </a>
</body>
</html>